.special-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .special-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .special-modal-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .special-modal-card-options {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .special-modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .special-modal-confirm-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .special-modal-close-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .special-modal-reopen-button {
    background-color: #ba68c8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
  }
  
  .special-modal-confirm-button:hover {
    background-color: #45a049;
  }
  
  .special-modal-close-button:hover {
    background-color: #e41e26;
  }
  
  .special-modal-reopen-button:hover {
    background-color: #301735;
  }
  